<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Login!
  </h1>
<div  style="float: none;
      margin: 0 15% auto;">


  <div class="card">
    <div class="card-header" data-background-color="red">
      <h4 class="title">Sign In</h4>
      <!--<p class="category">Here is a subtitle for this table</p>-->
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">

        <tbody>
        <tr>
          <td align="left">Username</td>
          <td align="left">Password</td>
        </tr>
        <tr>
          <td>
            <input type="text" value="" placeholder="Username" class="form-control" />
          </td>
          <td>
            <input type="password"  value="" placeholder="Password" class="form-control" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-success" (click)="onSignin()">Sign In</button>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

